@import "tailwindcss";
@import "../styles/theme.css";

body {
  min-height: 100vh;
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
